spring:
  main:
    web-application-type: none
  datasource:
    url: jdbc:h2:file:${clide.data-dir:${user.home}/.clide}/taskdb;AUTO_SERVER=TRUE
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
  h2:
    console:
      enabled: false

logging:
  level:
    root: INFO
